<!-- 发表 -->
<div class="container aw-create" ng-app="createApp" ng-controller="createController">
    <div class="row">
        <div class="aw-create-content clearfix">
            <div class="col-sm-12 col-md-9 aw-main-content">
                <div class="nav nav-tabs aw-nav-tabs active">
                    <h2 class="hidden-xs">
                        <i class="fa fa-credit-card"></i>
                    </h2>
                </div>
                <!-- 问题的主体 -->
                <form name="createForm" ng-submit="postForm()">
                    <div class="aw-mod aw-mod-publish">
                        <div class="mod-body">
                            <h3>问题的分类</h3>
                            <div class="aw-publish-title">
                                <select name="category" ng-model="formData.category" required class="form-control">
                                    <% categorys.forEach(function (categorys, index) { %>
                                    <option value="<%= categorys[0] %>"><%= categorys[1] %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <h3>问题的标题</h3>
                            <div class="aw-publish-title">
                                <input type="text" name="title" ng-model="formData.title" placeholder="问题标题..."  ng-maxlength="50" class="form-control">
                                <div style="height: 20px;">
                                    <span ng-cloak ng-show="createForm.title.$invalid && !createForm.title.$pristine" class="text-danger"><i class="fa fa-close"></i>标题的长度不能超过50个字符</span>
                                </div>
                            </div>
                            <h3>问题补充：</h3>
                            <div class="aw-mod aw-editor-box">
                                <div class="mod-head">
                                    <textarea ng-model="formData.content" id="create"  id="question" ></textarea>
                                </div>
                                <div class="mod-body">
                                    <div style="height:20px">
                                        <span ng-show="!isLegal" class="text-danger">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            输入的内容不能为空
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mod-footer clearfix">
                            <input ng-disabled="createForm.$invalid || !isLegal" type="submit" class="btn btn-large btn-success pull-right" disabled="disabled" value="发布问题">
                            <div ng-cloak ng-show="error" class="alert alert-danger text-center" id="errorbox" style="margin-top: 50px">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
