<!-- 个人设置 -->
<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <dov class="aw-user-setting">
                    <div class="aw-nav">
                        <h2>
                            <i class="fa fa-exclamation-triangles"></i>
                            出错啦！
                        </h2>
                    </div>
                    <div class="tab-content clearfix">
                        <div class="aw-mod">
                            <div class="mod-body">
                                <!-- 基本信息 -->
                                <%= message %>
                            </div>
                        </div>
                    </div>
                </dov>
            </div>
        </div>
    </div>
</div>