.aw-container-wrap {
    margin-top: 30px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.aw-content-wrap {
    margin: 0 15px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.aw-nav {
    z-index: 1;
    min-height: 63px;
    margin: 0;
    padding: 30px 20px 0;
    border-color: #e6e6e6;
    border-bottom: 1px solid #ddd;
}
.aw-nav h2 {
    font-size: 20px;
    color: red;
}
.aw-user-setting .tab-content {
    padding: 0 40px 0 40px;
}
.mod-body {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}