.aw-content-wrap {
    border-radius: 4px;
    padding: 0;
}
.aw-main-content {

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.65);
    background-color: #fff;
}
.aw-nav-tabs {
    min-height: 63px;
    margin: 0;
    padding: 30px 20px 0;
    border-color: #e6e6e6;
}
.aw-nav-tabs>li.active {
    border: none;
    border-bottom: 2px solid #155faa;
    font-weight: 700;
    color: #333;
}
.aw-nav-tabs>li {
    margin: 0 15px 0 0;
}
.aw-nav-tabs>li:last-child {
    margin: 0 0 0 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover{
    border:none;
    background-color: #fff;
    color: #333;
}
.aw-nav-tabs>li>a {
    line-height: 30px;
    padding: 2px 13px;
    background-color: #fff;
    border: none;
    color: #666;
}
.aw-nav-tabs>li.active:hover,.aw-nav-tabs>li:hover {
    background: #fff;
    border:0;
    border-bottom: 2px solid #155faa;
    color: #333;
}
.aw-nav-tabs > h2 {
    margin: 0;
    font-size: 20px;
}
.tab-content {
    padding: 30px 20px 20px;
}
.mod-head>h3 {
    font-size: 20px;
}
.mod-head h3 a {
    font-size: 12px;
}
.btn-mini {
    background-color: #59b0ff;
}

.aw-user-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.aw-hide-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pagination {
    margin: 0;
}
