img {
    width: 50px;
    height: 50px;
}
.aw-container-wrap {
    margin-top: 30px;
}
.aw-content-wrap {
    margin: 0 15px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.aw-main-content {
    padding: 0 0 20px;
    border-right: 1px solid #e6e6e6;
}

.common-head h2 {
    height: 60px;
    line-height: 60px;
    margin: 0;
    font-size: 20px;
    color: #333;
}
.common-head {
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}
.aw-people-list {
    padding: 0 20px;
}
.aw-people-list .aw-item:first-child {
    border-top: none;
}
.aw-people-list .aw-item {
    position: relative;
    padding: 14px 0 14px 100px;
    border-top: 1px solid #f5f5f5;
}
.aw-people-list .aw-item .aw-user-sort-count {
    position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    color: #fff;
    text-align: center;
}
.aw-people-list .aw-item .aw-user-sort-count.active i {
    color: #ffc000;
}
.aw-people-list .aw-item .aw-user-sort-count i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
}
.aw-people-list .aw-item .aw-user-img {
    position: absolute;
    left: 40px;
    top: 15px;
}
.aw-people-list .aw-item p {
    margin: 0;
}
.aw-people-list .aw-item .aw-user-name {
    font-size: 14px;
}
.aw-people-list .aw-item .meta {
    margin: 3px 0;
}
.aw-people-list .aw-item .meta span {
    margin-right: 10px;
}
.aw-people-list .aw-item .meta span i{
    margin: 0;
}
.aw-people-list .aw-item .operate {
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
}
.btn-normal {
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 14px;
}
.pagination {
    margin: 20px 0 0;
}
.pagination .active a {
    background-color: #499ef3;
    color: #fff;
    border-color: #499ef3;
}

